/* Correciones */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 17);
    font-family: sans-serif;
    padding: 60px;

}

.imagen {
    display: block;
    padding: 8px;
    margin-top: -25px;
    }   


.logo-home  {
    width: 50px;
}


/* Home General */

.home {
    margin-top: 10px;
    display: flex;
    background-color: aqua;
}


.buscador-gral {
    display: flex;
    justify-content: center;
}

.novedades {  
    margin: 25px;
    display: block;
    width: 300px;
    background-color: aquamarine;
}


/* Grilla de Productos Home */

.productos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 25px;
    background-color: blue;
    justify-content: center;
}

.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-productos {
    display: flex;
    margin: 10px;
    border: 2px solid black;
    height: 200px;
    
}

button {
    width: 20px;
    display: block;
    
}


/* Nav */

.nav-ul {
    max-width: 1000px;
    margin: 50px auto;
    list-style: none;
    display: flex;
    gap: 2px;
}

.nav-li {
    width: 300px; 
    flex-grow: 1;
}

.nav-a {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}


.nav-a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}


.boton {
    width: 50px;
    display: none;
    padding: 8px;

}

/* Responsive*/
@media (max-width: 767px) {
    .boton {
        padding: 8px;
        display: block;
    }

    .imagen {
        display: none;
    }

    .novedades {
        width: 90%;
        display: inline-block;
    }

    .home {
        text-align: center;
        display: block;
    }


    .productos {

        justify-content: center;
        display: block;
        width: 90%;
    }

    .nav-ul {
        display: none;
        width: 90%;
        margin-top: 20px;
    }
    .nav-a {
        border-bottom: 1px solid beige;
    }
}

/* Footer */
footer {
    padding: 20px; 
    margin-top: 30px;
    justify-content: space-between;    
    background-color: #ddd;
  }

  footer > ul li {
      padding: 10px;
      display: inline;

  }

  footer > p {
      text-align: right;
  }

  footer > ul li a  {
      color: black;
      text-decoration: none;
  }


/* Acciones con Java*/
.mostrar {
    display: block;
}
